@model MvcBlog.Models.Makale
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <h4>Makale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kategori.KategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kategori.KategoriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uye.KullaniciAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uye.KullaniciAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icerik)
        </dd>

        <dt>
            <img src="@Model.Foto" width="75" class="img-circle" alt="" />
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>

        <dt>
                @Html.DisplayNameFor(model => model.Okunma)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Okunma)
            </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MakaleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
