@using PagedList;
@using PagedList.Mvc;
@using System.Globalization;
@model IPagedList<MvcBlog.Models.Makale>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8">

    @foreach (var item in Model)
    {<nav class="navbar navbar-default" role="navigation">
            <article class="col-sm-12">
                <h2>
                    <a href="/Home/MakaleDetay/@item.MakaleId"><h1>@item.Baslik</h1></a>

                </h2>
                <p class="lead">
                    @*<img class="img-circle img-responsive" width="50" src="@item.Uye.Foto" alt="@item.Uye.AdSoyad" />*@ @*KULLANICI RESİMİ SIKINTILI OLDUĞU İÇİN KALDIRDIM SONRADAN BAKILACAK!!!!!!*@

                    @*<a href="/Uye/UyeProfil/@item.Uye.UyeId">@item.Uye.KullaniciAdi</a>*@
                    <a href="/Uye/UyeProfil/@item.Uye.UyeId">  @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(item.Uye.KullaniciAdi) 'den</a> @* Kullanıcının ilk harfini büyük yaptım.*@
                    <span class="glyphicon glyphicon-time"></span>@String.Format("{0: MMMM yyyy}", item.Tarih)

                    <span class="glyphicon glyphicon-tags"></span> @item.Etikets.Count()
                </p>

                @*<img class="img-responsive" src="@item.Foto" alt="@item.Baslik">*@
                <hr>

                <img onContextMenu="return false" class="center-block" src="@item.Foto" width="470" />
                <br />


                <p>@Html.Raw(item.Icerik.Substring(0, 300))</p>


                <a class="btn btn-primary" href="/Home/MakaleDetay/@item.MakaleId">Devamını Oku <span class="glyphicon glyphicon-chevron-right"></span></a>
                @*<p class="pull-right">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal_comment" data-note-id="@item.MakaleId">
                        <span class="glyphicon glyphicon-star-empty"></span> Puan Ver
                    </button>
                </p>*@
                <br />
                <br />
            </article>
        </nav>
    }

    <div class="row">
        <div class="col-md-8 text-center ">
            <div class="pagedList pagination">

                @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page }), PagedListRenderOptions.Classic)


            </div>
        </div>
    </div>


</div>
@*@Boostrap.ModalPopup(id: "modal_comment", title: "Yorumlar")

<script src="~/Content/js/jquery.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(function () {


        $('#modal_comment').on('show.bs.modal', function (e) {

            var btn = $(e.relatedTarget);
            var noteid = btn.data("note-id");




            $("#modal_comment_body").load("/Comment/ShowNoteComments" +MakaleId);


        })


    });



</script>*@
